body{
    text-align: center;
    background-color: aqua;
}

.surprise{
    height: 300px;
    width: 300px;
    border-radius: 10%;
    background-color: aliceblue;
    text-align: center;
}